@page
@model AdministrationModel
@{
    ViewData["Title"] = "Administration";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p></p>
<button name="button"><a asp-page="/Index"></a>Stundenplan anzeigen</button>
<button name="button"><a asp-page="/Index"></a>neuen Schüler anlegen</button>
<button name="button"><a asp-page="/Index">Home</a>Home</button>
<button name="button"><a asp-page="/Index"></a>Klick mich</button>