@page
@model AdministrationModel
@{
    ViewData["Title"] = "Administration";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p></p>

<button name="button" onclick="window.location.href='/Dozenten'">Dozenten</button>
<button name="button"onclick="window.location.href='/Schueler'">Schüler</button>
<button name="button"onclick="window.location.href='/Raeume'">Räume</button>
<button name="button"onclick="window.location.href='/Kurse'">Kurse</button>
<button name="button"onclick="window.location.href='/Finanzen'">Finanzen</button>
